.weather-display {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;

  @include above(m) {
    justify-content: center;
  }

  > .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: left;

    > .location {
      > .city {
        margin: 0;
      }

      > .description {
        margin: 0;
        padding-top: 0.5rem;
        font-weight: 400;
        font-size: 1.1rem;
        color: var(--color-text-secondary);

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }

    > .illustration {
      position: relative;
      flex-basis: 44px;
      margin-left: 1rem;

      > .icon {
        position: absolute;
        left: 50%;
        top: -10px;
        transform: translateX(-50%) scale(0.7);
      }
    }
  }

  > .temperature-info {
    padding-top: 4rem;

    > .value {
      display: block;
      transform: translateX(10px);
      font-size: 7rem;
      line-height: 1;
      letter-spacing: 0.2rem;
    }

    > .variation {
      padding-top: 0.2rem;
      color: var(--color-text-secondary);
    }
  }

  > .additional-info {
    padding: 4rem 1rem 0;
    display: flex;
    justify-content: space-between;

    > .info > .label {
      display: block;
      padding-bottom: 0.5rem;
      font-size: 0.8rem;
      color: var(--color-text-secondary);
    }
  }

  > .button {
    margin-top: auto;
    align-self: center;

    @include above(m) {
      margin-top: 6rem;
    }
  }
}
