:root {
  --color-primary: #5b55e0;
  --color-bg-primary: radial-gradient( circle farthest-corner at 22.4% 21.7%, #7e68f9 0%, #5b55e0 100.2% );
  --color-bg-button: #fff;
  --color-text-primary: #fff;
  --color-text-secondary: #e1dcff;
}
